.icons{
    display: none;
}

@media screen and (max-width:600px){

.icons{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: black;
    height: 8vh;
    align-items: center;
    font-size: 1.6rem;
    color: white;
    text-decoration: none;

}
.icon1:hover{
    font-size: 1.8rem;
    color: #1A8CD8
   
}
.icon2:hover{
    font-size: 1.8rem;
    color: #1A8CD8
}
.icon3:hover{
    font-size: 1.8rem;
    color: #1A8CD8
}
.icon4:hover{
    font-size: 1.8rem;
    color: #1A8CD8
}
}